.pillContainer {
  border-radius: 25px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative; /* Added to position background image */
}

.copyIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.lineCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px; /* Adjusted margin to 10 pixels */
  position: relative;
  cursor: pointer;
}

.lineCircle:hover .copyIcon {
  opacity: 1;
}

.trainInfoHeader {
  text-align: left;
  margin-bottom: 20px;
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
}

.linePill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 15px;
  border: 2px solid;
  margin-bottom: 10px;
  max-width: 200px; /* Reduced width */
}

.lineText {
  flex: 1;
  text-align: left;
  display: flex;
  align-items: center; /* Vertically center the text */
}

.activeInfo {
  margin-bottom: 10px;
  text-align: left; /* Align text to the left */
}

.inactiveInfo {
  margin-bottom: 10px;
  font-style: italic;
  color: red;
  text-align: left; /* Align text to the left */
}

.trainInfoStatusPill {
  display: flex;
  align-items: center;
  width: 100px; /* Ensure the pill width is consistent */
  height: 25.6px; /* Set the height to 25.6px */
  padding: 5px 10px; /* Increased size to match PopularTrains */
  border-radius: 15px;
  margin-bottom: 5px;
  background-color: rgba(160, 160, 160, 0.8);
}

.trainInfoStatusText {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align text to the left */
  padding: 2px 0;
  color: #FFFFFF; /* Always white color */
  padding-right: 10px; /* Add 10px padding between the text and the circle */
}

.trainInfoStatusCircle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #FFFFFF; /* Always white border color */
  margin-left: 5px;
}

/* Dark mode styles */
body.dark-mode .pillContainer {
  background-color: #333; /* Dark background */
  color: #f9f9f9; /* Light text */
}

body.dark-mode .linePill {
  background-color: #444; /* Darker background */
  color: #f9f9f9; /* Light text */
}

body.dark-mode .activeInfo {
  color: #FFFFFF; /* White color for active info */
}

body.dark-mode .inactiveInfo {
  color: #f44336; /* Red color for inactive info */
}

body.dark-mode .trainInfoStatusPill {
  background-color: #555; /* Darker background */
  color: #f9f9f9; /* Light text */
}

body.dark-mode .trainInfoStatusText {
  color: #FFFFFF; /* Always white color */
}

body.dark-mode .input {
  background-color: #555; /* Dark background */
  color: #f9f9f9; /* Light text */
}
